%blockquote
  %p
    = comment.body
  %small
    = comment.user.full_name
    = image_tag comment.user.avatar, with: 40, height: 40
    - if can? :manage, comment
      = link_to '', [comment.article, comment], class: "glyphicon glyphicon-remove", method: :delete, data: {confirm: 'Are you sure?'}
