%blockquote
  %p
    = comment.body
  %small
    = comment.user.email
    = link_to '', [comment.article, comment], class: "glyphicon glyphicon-remove", method: :delete, data: {confirm: 'Are you sure?'}
